.table {
  max-width: 120rem;
  margin: 3rem auto;
  border-collapse: collapse;

  thead tr th {
    background-color: #fff;
  }

  tr {
    td, th {
      border: 1px solid #ddd;
      padding: 1rem;
      text-align: left;

      &:first-child {
        font-weight: 700;
      }
    }  

    &:nth-child(odd) {
      background-color: #f2f2f2f2;
    }
  }
}
