.rocketsContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 10px;
  
  .rocketsItems {
    display: flex;
    list-style: none;
    // flex-direction: column;
    flex-wrap: wrap;

    .rocketsTitle {
      display: flex;
      font-size: 22px;
      font-weight: 600;
      margin-left: 1rem;
    }

    .rocketsItems li {
      display: flex;
      flex-direction: row-reverse;
    }

    .rocketsImg {
      display: flex;
      max-width: 20rem;
    }
  
    .rocketsDescr {
      display: flex;
      flex-direction: row;
      margin: 0.5rem 0;
      line-height: 2rem;
    }
  
    .Btn {
      display: flex;
      flex-direction: row;
      padding: 5px;
      margin-top: 5px;
      background-color: #5d9ee9;
      border: none;
      font-size: 18px;
    }
  }
}