.profileContainer {
  display: flex;
  justify-content: space-between;
  max-width: 120rem;
  margin: 3rem auto;

  .profiles {
    width: 48%;

    .profile {
      border: 1px solid #ddd;
      border-radius: 0.5rem;

      .list {
        list-style: none;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }
}
