.nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  border-bottom: 2px solid #efefef;


  .logoContainer {
    display: flex;
    .logoImg {
      width: 5rem;
      height: 5rem;
    }
  }

  .logoText {
    margin-left: 3rem;
  }

  .navItems {
    display: flex;
    align-items: center;
    .item {
      list-style: none;
      padding: 0 2rem;

      &:last-child {
        border-left: 1px solid #000;
      }
      
      .itemLink {
        text-decoration: none;

      }
    }
  }
}