@mixin status {
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  width: max-content;
  color: #fff;
}

.btnMission {
  font-family: inherit;
  font-size: inherit;
  width: max-content;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
}

.btnLeave {
  color: #dc3645;
  border-color: #dc3645;
}

.statusBg {
  @include status;

  background-color: #6d757d;
}

.statusActive {
  @include status;

  background-color: #18a2b8;
}
